---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Spaces from '../components/Spaces.astro';
import Events from '../components/Events.astro';
import Blog from '../components/Blog.astro';
import Contact from '../components/Contact.astro';
---

<Layout title="KIZUNA RESIDENCE | プレミアムシェアレジデンス">
  <Navigation />
  <main>
    <Hero />
    <About />
    <Spaces />
    <Events />
    <Blog />
    <Contact />
  </main>
</Layout>